*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

.notification-panel {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background: #e5e5e5;
  padding: 20px;
}

.notification-panel .row {
  display: flex;
  margin: auto;
  max-width: 720px;
}

.notification-panel .row p {
  flex: 10
}

.notification-panel .row button {
  flex: 1;
  flex-shrink: 1;
  font-size: 15px;
  font-weight: 300;
  border-radius: 5px;
  background: rgb(0, 123, 193);
  color: #fff;
}

.page-header {
  background-image: url(../img/work-desk__dustin-lee.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.page-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 74, 117, 0.65);
}

.logo {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
}

.logo img {
  width: 100%;
}

.hero {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 295px;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.429;
}

.hero h1, p {
  font-weight: 300;
}

.hero h1, h2, p {
  margin: 5px;
}

.call-to-action {
  background: transparent;
  padding: 15px 30px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: #fff 2px solid;
  border-radius: 3px;
  margin-top: 15px;
  color: #fff;
}

.call-to-action:hover {
  background: #fff;
  color: #004a75;
}

main {
  background: #e5e5e5;
  height: 100%;
  padding: 40px 30px;
  color: #505050;
}

.highlights-header {
  text-align: center;
}

.highlights-header h1 {
  margin: 10px 0;
  font-weight: 300;
}

.highlights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 20px auto;
}

.highlight {
  position: relative;
  width: 32%;
  margin-top: 25px;
  border: #505050 1px solid;
  padding: 20px;
}

.title-icon {
  display: flex;
  justify-content: space-between;
}

.title-icon i {
  color: #969696;
}

.highlight h2 {
  font-weight: 300;
}

.highlight p {
  font-size: 15px;
  margin-top: 15px;
}

footer {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  background: #003655;
}

.newsletter-panel {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: rgba(0, 123, 193, 0.85);
  color: #fff;
  width: 45%;
  max-width: 600px;
  height: auto;
  line-height: 1.4;
  box-sizing: content-box;
  transform: translateY(100%);
  transition-duration: 1s;
}

.slide-up {
  transform: translateY(0);
  transition-duration: 1s;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.newsletter-panel h2 {
  font-weight: 400;
}

.newsletter-panel form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.newsletter-panel form input, button {
  margin: 3px;
  padding: 5px;
}

.newsletter-panel form input {
  flex: 4;
}

.newsletter-panel form button {
  flex: 1;
  background: #ff8000;
  color: #fff;
  border: none;
  border-radius: 2px;
}

@media (min-width: 480px) and (max-width: 960px) {
  .highlight {
    width: 49%;
    margin-top: 20px;
  }
  .newsletter-panel {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .notification-panel .row {
    flex-direction: column;
  }

  .notification-panel .row button {
    margin-top: 15px;
    padding: 10px;
    width: 80px;
  }

  .highlight {
    width: 100%;
  }

  .newsletter-panel {
    width: 100%;
    box-sizing: border-box;
  }

  .newsletter-panel form {
    flex-direction: column;
  }

  .newsletter-panel form button {
    margin-top: 10px;
  }
}